
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-size: 14px;
    line-height: 19px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
}

.fc-uno{
    background-color: #F9F8F4;
    padding-top: 32px; 
    display: flex;   
}

.fc h3{
    font-size: 14px;
    margin: 0px 0px 8px;
    color: #767676;
}

.fc {
    padding: 0px 15px;
    color: black;
    box-sizing: border-box;
    position: relative;
}

.fc ul{
    list-style: none;
}